/* Selected Locations */

.c-selected-locations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    margin: 40px 0 0 0;
    padding-left: 0;
}

.c-selected-locations .c-card {
    height: 100%;
}

@media screen and (min-width: 40em) {
    .c-selected-locations {
        flex-direction: row;
    }
}

.c-selected-locations__location {
    margin-bottom: calc(var(--grid-gap) * 2);
    position: relative;
}

.c-selected-locations .c-selected-locations__location:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 40em) {
    .c-selected-locations__location {
        width: calc(50% - var(--grid-gap));
    }

    .c-selected-locations .c-selected-locations__location:nth-child(odd) {
        margin-right: var(--grid-gap);
    }

    .c-selected-locations .c-selected-locations__location:nth-child(even) {
        margin-left: var(--grid-gap);
    }
}

.c-selected-locations__remove-city-btn {
    position: absolute;
    right: 0;
    top: 0;
}

.c-selected-locations__attr {
    display: block;
}

.c-selected-locations__attr--heading {
    color: var(--selected-location-heading);
    margin: 10px 0;
}